:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --Black: hsl(0, 0%, 7%);
  --DarkBlue:  hsl(218, 44%, 22%);

}

body,
p,
h1,
figure,
section {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--LightGrey);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: 0.94rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--White);
  color: var(--Black);
  width: 20%;
  min-width: 20rem;
  border-radius: 1rem;
  padding: 1.5rem 1rem 2.75rem;
  border: 1px solid transparent;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  #container {
    width: 70%;
    min-width: initial;
    margin: 0 1rem;
  }

  .qr-photo-container {
    text-align: center;
    width: 18rem;
    height: 18rem;
  }

  .qr-code {
    width: 90%;
  }
}

.qr-photo-container {
  text-align: center;
  width: 18rem;
  height: 18rem;
}

.qr-code {
  border-radius: 0.5rem;
  width: 100%;
}


.main-content {
  margin: 1.5rem 0 .25rem 1.5rem;
  padding: 0 2rem 0 0.5rem;
}

.note-text {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--GrayishBlue);
}

.default-text {
  color: var(--DarkBlue);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

